aniso8601==9.0.1
apispec==4.4.2
apispec-webframeworks==0.5.2
asyncio==3.4.3
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
cmds==0.1.1
colorama==0.4.4
DateTime==4.3
Flask==2.0.1
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.12.1
path==15.1.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.17
urllib3==1.26.5
Werkzeug==2.0.1
zope.interface==5.4.0
